.container {
    display: flex;
}

.product-container {
    /* position: absolute; */
    width: 60%;
}

.product-heading {
    padding: 8rem 4rem 2rem 7rem;

}

.product-heading span{
    font-size: 37px;
    font-weight: 500;
}

.product-heading p {
    font-size: 23px;
}

.order-btn {
    margin-left: 40%;
}

.btn {
    border: 0.1px solid #B46100;
    background: none;
    border-radius: 20px;
    padding: 1rem 5rem 1rem 5rem;
}

.btn-brown {
    cursor: pointer;
    font-size: 20px;
    color: #B46100;
    font-weight: 700;
}

.btn-brown:hover {
    opacity: 0.8;
}

.order-img {
    width: 40%;
}

.order-img img {
    height: 50vh;
}


@media screen  and (max-width: 1200px) {
    .order-btn {
        margin-top: 50px;
        margin-left: 10%;
    }
}

@media screen  and (max-width: 650px) {
    .product-container {
        width: 100%;
    }

    .product-heading {
        padding: 4rem;
    
    }

    .order-img {
        width: 100%;
    }

    .container {
        display: block;
    }

}